# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
env/
venv/

# VS Code settings
.vscode/

# System files
.DS_Store

# Student lists and generated output
student_list/*.xls
student_list/*.xlsx
student_list/*_students.txt


# Other
*.log